<h2 class="content-block">Home</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <dx-gantt
        [taskListWidth]="450"
        scaleType="weeks"
        height="500">

      <dxo-tasks [dataSource]="tasks"></dxo-tasks>
      <dxo-dependencies [dataSource]="dependencies"></dxo-dependencies>
      <dxo-resources [dataSource]="resources"></dxo-resources>
      <dxo-resource-assignments [dataSource]="resourceAssignments"></dxo-resource-assignments>

      <dxi-column dataField="title" caption="RegNo" [width]="250"></dxi-column>
      <dxi-column dataField="start" caption="Start Date" dataType="date" [width]="100"></dxi-column>
      <dxi-column dataField="end" caption="End Date" dataType="date" [width]="100"></dxi-column>

      <dxo-toolbar>
        <dxi-item name="zoomIn"></dxi-item>
        <dxi-item name="zoomOut"></dxi-item>
      </dxo-toolbar>

      <dxo-validation [autoUpdateParentTasks]="true"></dxo-validation>
    </dx-gantt>

    <br><hr><br>

    <dx-scheduler
      [dataSource]="tasks2"
      [views]="['timelineMonth']"
      currentView="timelineMonth"
      [currentDate]="currentDate"
      [firstDayOfWeek]="1"
      [startDayHour]="0"
      [endDayHour]="23"
      [showAllDayPanel]="true"
      [height]="600">
    </dx-scheduler>
  </div>
</div>
